/article.pdf
/article.html
/article.docx
/article_files
/agujournal2019.cls
/article.xml
/trackchanges.sty
/.luarc.json
/.quarto/
/_manuscript
.TinyTeX/
.bash_logout
.bashrc
.cache/
.code-server/
.config/
.local/
.npm/
.profile
.wget-hsts
.yarn/
.ipynb_checkpoints
*.eps
_build
.venv
article.pdf
meca.zip
tex.zip
files/
*_pdf_logs/
*_pdf_tex/
env/
